In [ ]:
# 1

In [ ]:
# 2

In [ ]:
# 3

In [ ]:
# 4

In [ ]:
# 5

# SELECT name, description
# FROM A
# UNION
# SELECT name, description
# FROM B

In [ ]:
# 6

In [ ]:
# 7

In [ ]:
# 8

In [ ]:
# 9

In [ ]:
# 10

In [ ]:
# 11